.create-a-post-page {
  background: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  justify-self: center;
  margin-bottom: 1.2rem;
}

.create-a-post-page h3 {
  color: #6366f1;
  font-weight: bold;
}

.create-a-post-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create-post-input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s;
  background-color: rgb(192, 213, 224);
}

.create-a-post-page button {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  background-color: #6366f1;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.create-a-post-page button:hover {
  background: #7e22ce;
}