header {
  color: black;
  display: grid;
  grid-template-columns: 70% 30%;
  height: 6rem;
  width: 100%;
}

.app-slogen {
  grid-column: 1;
  color: black;
  height: 1rem;
  text-align: center;
}

.app-logo img {
 height: 4rem;
 width: 4rem;
  grid-column: 2;
}
